body {
    background-color:#262626 !important;
}

a {
    text-decoration: none !important;
    color: grey;
}

a:hover {
    color: white;
}

h6 span { 
    background-color: #424344; 
    padding: 6px 10px 6px 10px;
    border-radius: .2rem;
}